.card#JS-show {
  display: none;
}

.card#Operators-show {
  display: none;
}

.card {
  cursor: pointer;
  color: #0088cc;
}

.card:hover {
  text-decoration: underline;
}

#letter {
  display: none;
}